hydra-core
loguru
megengine
ninja==1.11.1.1
numpy
omegaconf
onnx
onnxruntime
onnxsim
openvino
psutil
pycocotools
recommonmark
setuptools
Sphinx
sphinx_rtd_theme
tabulate
tensorrt
thop
torch==2.3.1
torchvision==0.18.1
tqdm
wandb
